/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
 background: #0b3d91;
  color: #222;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #0d47a1, #1976d2);
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

header p {
  font-size: 14px;
  opacity: 0.9;
}

/* NAVBAR */
nav {
  background: #0b3c91;
  display: flex;
  justify-content: center;
  .call-btn{
      display:inline-block;
      margin-top:8px;
      padding:6px 12px;
      background:#0b3d91;
      color:#fff;
      border-radius:6px;
      text-decoration:none;
      font-size:14px;
}
.call-btn:hover{
      background:#ffcc00;
      color:#000;
}
